<!DOCTYPE html>
<html>
  <head>
    <title>InnFact</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <%= link_to "InnFact", root_path, class: "navbar-brand"%>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to "SIGN IN", new_user_session_path %></li>
          <li><%= link_to "JOIN", new_user_registration_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% if flash[:notice].present? %>
        <p class="alert notice"><%= notice %></p>
      <% end %>
      <% if flash[:alert].present? %>
        <p class="alert error"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
